<ion-content [fullscreen]="true">
  <div class="page-container">
    <div class="header">
      <div class="title">Business Application</div>
    </div>
    <div class="content">
      <form (ngSubmit)="onSubmit()" class="login-form">
        <div class="form-group">
          <label>Company Name</label>
          <input
            type="text"
            [(ngModel)]="companyName"
            name="companyName"
            required
          />
        </div>
        <div class="form-group">
          <label>Company Description</label>
          <textarea
            [(ngModel)]="companyDescription"
            name="companyDescription"
            required
          ></textarea>
        </div>
        <button type="submit" class="login-btn">Submit</button>
      </form>
    </div>
  </div>
</ion-content>
