<ion-content [fullscreen]="true">
  <div class="page-container">
    <div class="header">
      <div class="title">Companies</div>
    </div>
    <div class="content">
      <div
        *ngFor="let company of companies"
        class="company-card"
        [routerLink]="['/company', company.id]"
      >
        <div class="card-grid">
          <div class="company-title">{{ company.company_name }}</div>
          <div class="company-logo">
            <span class="material-symbols-outlined"> {{company.logo}} </span>
          </div>
        </div>
        <ion-icon
          class="delete-icon"
          name="close"
          (click)="onDelete($event, company.id)"
        ></ion-icon>
      </div>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" routerLink="/application">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
