<div class="content-container">
  <div class="header">
    <div class="title">Inbox</div>
  </div>
  <div class="filter-container">
    <button class="filter-btn">
      <span class="material-symbols-outlined">add</span>
      <span class="label">NEW EMAIL</span>
    </button>
    <button class="filter-btn">
      <span class="material-symbols-outlined">reply</span>
      <span class="label">REPLY</span>
    </button>
    <button class="filter-btn" (click)="toggleDelete()">
      <span class="material-symbols-outlined">{{ showDeleted ? 'restore' : 'delete' }}</span>
      <span class="label">{{ showDeleted ? 'UNDELETE' : 'DELETE' }}</span>
    </button>
    <button class="filter-btn" (click)="archiveEmails()">
      <span class="material-symbols-outlined">{{ showDeleted ? 'inbox' : 'archive' }}</span>
    </button>
  </div>
  <div class="inbox-body">
    <div class="email-list">
      <div class="email-item" *ngFor="let email of inbox"
        [class.selected]="email === selectedEmail"
           (click)="selectEmail(email)">
        <div class="sender">{{email.sender}}</div>
        <div class="subject">{{email.subject}}</div>
        <div class="preview-text">{{email.preview}}</div>
        <div class="timestamp">{{email.timestamp | date:'short'}}</div>
      </div>
    </div>
    <div class="email-preview" *ngIf="selectedEmail">
      <h2>{{selectedEmail.subject}}</h2>
      <h4>From: {{selectedEmail.sender}}</h4>
      <div class="timestamp">{{selectedEmail.timestamp | date:'short'}}</div>
      <pre>{{selectedEmail.body}}</pre>
    </div>
  </div>
</div>
<div class="clock">{{ displayDate }}  {{ displayTime }}</div>