<ion-content>
  <div class="page-container">
    <app-roles
      (loadingStateChange)="handleLoadingState($event)"
      [hidden]="showLoading || showResumes || showBoardroom"
    ></app-roles>

    <app-loading
      *ngIf="showLoading"
      class="loading-overlay"
      [totalTasks]="totalTasks"
      [completedTasks]="completedTasks"
    ></app-loading>

    <app-resumes
      *ngIf="!showLoading && showResumes"
      (hiringFinished)="openBoardroom()"
    ></app-resumes>

    <app-boardroom
      *ngIf="showBoardroom"
      [companyId]="companyId"
    ></app-boardroom>
  </div>
</ion-content>
