<ion-content>
  <div class="page-container">
    <app-roles
      (loadingStateChange)="handleLoadingState($event)"
      [hidden]="showLoading || showResumes || showBoardroom || showInbox || showCompanyProfile || showWork || showLedger"
    ></app-roles>

    <app-loading
      *ngIf="showLoading"
      class="loading-overlay"
      [totalTasks]="totalTasks"
      [completedTasks]="completedTasks"
    ></app-loading>

    <app-resumes
      *ngIf="!showLoading && showResumes && !showInbox && !showCompanyProfile"
      (hiringFinished)="openBoardroom()"
    ></app-resumes>

    <app-boardroom
      *ngIf="showBoardroom"
      [hidden]="showCompanyProfile"
      [companyId]="companyId"
      (acceptedProduct)="openInbox()"
    ></app-boardroom>

    <app-company-profile
      *ngIf="showCompanyProfile && !showLoading"
      [companyId]="companyId"
    ></app-company-profile>
    <app-work-items
      *ngIf="showWork && !showCompanyProfile"
      [companyId]="companyId"
    ></app-work-items>
    <app-inbox
      *ngIf="showInbox && !showCompanyProfile"
      [companyId]="companyId"
    ></app-inbox>
    <app-general-ledger
      *ngIf="showLedger && !showCompanyProfile"
      [companyId]="companyId"
    ></app-general-ledger>
  </div>
</ion-content>
