


@import "@ionic/angular/css/core.css";


@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";


@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";





@import "@ionic/angular/css/palettes/dark.system.css";


:root {
  --scrollbar-size: 10px;
  --scrollbar-radius: 8px;
}


* {
  scrollbar-width: thin;
  scrollbar-color: var(--theme-primary) var(--theme-background);
}


*::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}
*::-webkit-scrollbar-track {
  background: var(--theme-background);
  border-radius: var(--scrollbar-radius);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--theme-primary);
  border-radius: var(--scrollbar-radius);
  border: 2px solid var(--theme-background);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-accent);
}
*::-webkit-scrollbar-thumb:active {
  background-color: var(--theme-secondary);
}


.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
