.decision {
  width: 100%;
  color: var(--theme-text);
}
.top {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 1.5rem;
}
.logo .material-symbols-outlined {
  font-size: 28px;
}
.company-name {
  font-size: 20px;
  font-weight: 600;
}
.status {
  margin-bottom: 0.5rem;
  font-size: 22px;
  font-weight: 600;
}
.status.approved {
  color: var(--theme-accent);
}
.status.rejected {
  color: var(--ion-color-danger);
}
.details {
  margin-bottom: 1.5rem;
}
.details p {
  margin: 6px 0;
}
.button-container {
  display: flex;
  width: 100%;
  padding-top: 20px;
}
.button-container button {
  width: 300px;
  padding: 0.75rem;
  background: var(--theme-primary);
  color: white;
  border: 1.5px solid var(--theme-primary);
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  margin-right: 8px;
}
.button-container button:hover {
  border: 1.5px solid var(--theme-accent);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.button-container .accept-button {
  background: var(--theme-accent);
  border: 1.5px solid var(--theme-accent);
}
