<div class="content-container">
  <div class="header">
    <div class="title">Boardroom Transcript</div>
  </div>

  <div class="transcript-container" #scrollBox>
    <div class="transcript">
      <div class="line" *ngFor="let t of transcript">
        <b>{{ t.speaker }}:</b> {{ t.line }}
      </div>
    </div>
    <div class="typing-indicator" *ngIf="typing">
      <span>.</span><span>.</span><span>.</span>
    </div>
  </div>

  <div class="bottom-container" *ngIf="outcome.name || outcome.description">
    <div class="bottom-bar">
      <h2>Proposed product</h2>
      <p><b>{{ outcome.name }}</b></p>
      <p>{{ outcome.description }}</p>
    </div>

    <div class="button-container">
      <button class="accept-button">Accept</button>
      <button (click)="restart()">Reject</button>
    </div>
  </div>
</div>