<ion-content>
  <div class="container" *ngIf="!loading; else loadingTpl">
    <div class="header">
      <img *ngIf="logo" [src]="logo" alt="logo" />
      <h1>{{ companyName }}</h1>
    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{ approved ? 'Loan Approved' : 'Loan Decision' }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="row">
          <div class="label">Status</div>
          <div class="value">{{ approved ? 'Approved' : 'Not Approved' }}</div>
        </div>
        <div class="row">
          <div class="label">Amount</div>
          <div class="value">{{ amount | currency:'USD':'symbol' }}</div>
        </div>
        <div class="row">
          <div class="label">Grace Period</div>
          <div class="value">{{ graceDays }} days</div>
        </div>
        <div class="row">
          <div class="label">First Payment</div>
          <div class="value">{{ firstPayment | currency:'USD':'symbol' }}</div>
        </div>
        <ion-button expand="block" (click)="continue()">Continue</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #loadingTpl>
    <div class="loading">Loading funding decision...</div>
  </ng-template>
</ion-content>

