<ion-app>
  <div *ngIf="!hideMenu" class="sidebar">
    <ion-toolbar>
      <ion-buttons class="buttons">
        <a
          *ngIf="showBrandLogo"
          class="logo"
          [routerLink]="['/home']"
          aria-label="Home"
        >
          <img src="assets/favicon.svg" alt="strtupify.io" />
        </a>

        <button
          *ngIf="currentCompanyId && companyProfileEnabled && !showCompanyProfile"
          type="button"
          class="company-logo"
          (click)="openCompanyProfile()"
          aria-label="Company profile"
        >
          <span class="material-symbols-outlined"> {{ companyLogo }} </span>
        </button>


        <ng-container *ngIf="currentCompanyId && showCompanyProfile">

          <button
            *ngIf="workEnabled && inboxEnabled"
            type="button"
            class="company-logo"
            (click)="openInbox()"
            aria-label="Back to Inbox"
          >
            <span class="material-symbols-outlined"> mail </span>
          </button>
          <button
            *ngIf="workEnabled"
            type="button"
            class="company-logo"
            (click)="openWork()"
            aria-label="Back to Kanban"
          >
            <span class="material-symbols-outlined"> task </span>
          </button>

          <button
            *ngIf="!workEnabled"
            type="button"
            class="company-logo"
            (click)="openBackToModule()"
            [attr.aria-label]="'Back to ' + currentModule"
          >
            <span class="material-symbols-outlined"> {{ backIcon }} </span>
          </button>
        </ng-container>


        <ng-container *ngIf="currentCompanyId && !showCompanyProfile">

          <button
            *ngIf="workEnabled && inboxEnabled && currentModule === 'work'"
            type="button"
            class="company-logo"
            (click)="openInbox()"
            aria-label="Inbox"
          >
            <span class="material-symbols-outlined"> mail </span>
          </button>
          <button
            *ngIf="workEnabled && inboxEnabled && currentModule !== 'work'"
            type="button"
            class="company-logo"
            (click)="openWork()"
            aria-label="Kanban"
          >
            <span class="material-symbols-outlined"> task </span>
          </button>
          <button
            *ngIf="ledgerEnabled && currentModule !== 'ledger'"
            type="button"
            class="company-logo"
            (click)="openLedger()"
            aria-label="General Ledger"
          >
            <span class="material-symbols-outlined"> account_balance </span>
          </button>
          <button
            *ngIf="inboxEnabled && currentModule === 'ledger'"
            type="button"
            class="company-logo"
            (click)="openInbox()"
            aria-label="Inbox"
          >
            <span class="material-symbols-outlined"> mail </span>
          </button>
        </ng-container>

        <button
          *ngIf="showAccountButton"
          type="button"
          class="company-logo account"
          (click)="openAccount()"
          aria-label="Account"
        >
          <span class="material-symbols-outlined"> account_circle </span>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <ion-content>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>

  <app-clock *ngIf="currentCompanyId && inboxEnabled" [companyId]="currentCompanyId"></app-clock>
</ion-app>
