<ion-app>
  <div *ngIf="!hideMenu" class="sidebar">
    <ion-toolbar>
      <ion-buttons class="buttons">
        <a class="logo" [routerLink]="['/home']" aria-label="Home">
          <img src="assets/favicon.svg" alt="strtupify.io" />
        </a>
        <button
          *ngIf="companyProfileEnabled && currentCompanyId && !showCompanyProfile"
          type="button"
          class="company-logo"
          (click)="openCompanyProfile()"
          aria-label="Company profile"
        >
          <span class="material-symbols-outlined"> {{ companyLogo }} </span>
        </button>
        <button
          *ngIf="companyProfileEnabled && currentCompanyId && showCompanyProfile"
          type="button"
          class="company-logo"
          (click)="openInbox()"
          aria-label="Back"
        >
          <span class="material-symbols-outlined"> {{ backIcon }} </span>
        </button>
        <button
          *ngIf="workEnabled && currentCompanyId && !showCompanyProfile"
          type="button"
          class="company-logo"
          (click)="openWork()"
          aria-label="Work"
        >
          <span class="material-symbols-outlined"> task </span>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <ion-content>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>
</ion-app>
