.sidebar {
  position: fixed;
  height: 100vh;
  display: flex;
  z-index: 1;

  ion-toolbar {
    --background: var(--theme-primary);
  }

  .buttons {
    display: flex;
    flex-direction: column;
    background-color: var(--theme-primary);
    width: 50px;
    margin-top: 10px;

    ion-icon {
      color: var(--theme-text);
      font-size: 30px;
      margin-bottom: 5px;
    }
  }

  .devops-logo {
    filter: brightness(100);
  }
}
